@font-face {
    font-family: Montserrat_Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: Montserrat_Bold;
    src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: Raleway_Regular;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway_Light;
    src: url(../fonts/Raleway-Light.ttf);
}
.nav>li>a{
    font-family: Montserrat_Regular;
}
.h1, .h2, .h3, .h5, h1, h2, h3 {
    font-family: Montserrat_Bold;
}
.font_eworld{
    font-family: Raleway_Regular;
    color: #9b9b9b;
    font-size: 1.2em;
    margin-top: 5%;
}
::selection{
    background: #00AC7F;
    color: #fff;
}
p{
    font-family: Raleway_Regular;
}
.grande{
    width: 100%;
    height: 200vh;
    background-color: gray;
}
a.active {
    color: #00AC7F !important;
}
.menu_nav{
    width: 100%;
    height: 100vh;
    background: transparent;	
}
.branco{
    color: #fff;
}
.centralizar{
    text-align: center;
}
#texto_nav_central{
    margin-top: 35vh;
}
@media (max-height: 400px) {
    #texto_nav_central>h1{
        font-size: 27px;
    }
}
@media (max-width: 500px) {
    #texto_nav_central{
        margin-top: 30vh;
    }
    #texto_nav_central>h1{
        font-size: 27px;
    }
}
@media (max-width: 528px) {
    .filter li:before {
        display: inline-block;
        content: "/";
        padding: 0;
        color: rgba(0,0,0,0.0);
    }
    .filter li {
        display: block;
        margin-bottom: 5px;
    }
}
.filter li {
    font-family: Montserrat_Regular;
}
li.active > a{
    color: #1ABC9C !important;
}
.filter li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #777777;
}
.sombra_h1{
    text-shadow: 2px 2px #333;
}
.linha_branco_meio{
    color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    border: 0; 
    height: 2px; 
    margin: 1em 0 2em;
    text-align: center;
}
.linha_branco_meio:after{
    content: "____________________________________";
    display: inline-block;
    position: relative;
    top: -3.5em;
    font-size: 0.25em;
    padding: 0 0.25em;
    background-color: #fff;
    color: #fff;
    animation: linha_animation 1s;
    animation-timing-function: linear;
}
.linha_amarelo_meio{
    color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    border: 0; 
    height: 2px; 
    margin: 1em 0 2em;
    text-align: center;
}
.linha_amarelo_meio:after{
    content: "______________________";
    display: inline-block;
    position: relative;
    top: -3.5em;
    font-size: 0.25em;
    padding: 0 0.25em;
    background-color: #ffd577;
    color: #ffd577;
    animation: linha_animation 1s;
    animation-timing-function: linear;
}
.linha_preto_meio{
    color: rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
    border: 0; 
    height: 2px; 
    margin: 1em 0 2em;
    text-align: center;
}
.linha_preto_meio:after{
    content: "____________________________________";
    display: inline-block;
    position: relative;
    top: -3.5em;
    font-size: 0.25em;
    padding: 0 0.25em;
    background-color: #125321;
    color: #125321;
    animation: linha_animation 1s;
    animation-timing-function: linear;
}
@keyframes linha_animation {
    from {
        transform: scaleX(5);
        opacity: 0;
    }
    to {}
}
.cortexto_claro{
    color: #9b9b9b;
    font-size: 1.1em;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #ffd577;
}
#navposition{
    position: absolute;
    bottom: 0px;
}
.nav_bar1{
    background-color: rgba(34, 34, 34, 0);
    border-color: rgba(8, 8, 8, 0);
}
.navbar-right-meu {
    float: right!important;
    margin-right: -15px;
}
#logo_nav{
    height: 66px;
}
#logo_nav2{
    height: 35px;
}
.nav_secundario{
    margin-top: 10px;
}
@media (min-width: 768px){
    .container_inicial>.navbar-collapse, .container_inicial>.navbar-header, .container_inicial>.navbar-collapse, .container_inicial>.navbar-header {
        margin-right: 0;
        margin-left: 0;
        width: 95vw;
    }
}
@media(max-width: 768px){
    .none_display{
        display: none;
    }
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    min-height: 70px;
    animation: nav_bar_animation 0.5s;
}
.navbar-default {
    background-color: rgba(248, 248, 248, 0.9);
    border-color: #e7e7e7;
}
.navbar {
    border-radius: 0px;
}
#nav_logo2{
    padding: 0px 0px !important;
}
@keyframes nav_bar_animation {
    from {
        opacity: 0;
    }
    to {}
}
#img_concta{
    margin-top: 10%;
    width: 40%;
}
#img_canais{
    width: 40%;
}
#hr_somos{
    display: block;
    margin-top: 45px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
.foto_SOMOS_EWORLD{
    margin: auto;
    width: 25%;
    margin-top: 10%;
}
@media (min-width: 992px){
    .slide-animation-container {
        min-height: 300px;
        position: relative;
        overflow-x:hidden;
    }
}
@media (max-width: 991px){
    .slide-animation-container {
        min-height: 600px;
        position: relative;
        overflow-x:hidden;
    }
}
.vertical-flip{
    width: 100%;
}
.vertical-flip.ng-leave {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}
.vertical-flip.ng-leave-active {
    -webkit-transform: translateX(100vw);
    -moz-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    -o-transform: translateX(100vw);
    transform: translateX(100vw);
    z-index: 10;
}
.vertical-flip.ng-enter {
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);
    transform: translateX(-100vw);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.vertical-flip.ng-enter-active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    z-index: 20;
}
.parallax-window {
    min-height: 200px;
    background: transparent;
}
.noticia_marg{
    padding-top: 30px;
}
.service-block {
    position: relative;
    padding: 30px 30px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    background: #fff;
    margin-bottom: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity:0.7;
    min-height: 200px;
}
.service-block:hover{
    opacity:1;
    border-radius:20px;
}
.opacidade1{
    opacity:1 !important;;
}
.fotos_noticias{
    border-radius: 50%;
    transition: 2s;
}
.service-block:hover>a>div>div>.fotos_noticias{
    opacity:1;
    border-radius:0px;
}
.contato_div{
    background-color: #fff;
    margin-bottom: 30px;
    transition: 1s;
}
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
}
input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
}
input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
}
input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
}
input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
}
input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}
input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
}
input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}
input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
}
input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}
input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
}
input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
}
input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
}
header {
    font-family: 'Lato', sans-serif;
    position: relative;
    margin: 30px 0 15px 0;
    font-size: 2.3em;
    text-align: center;
    letter-spacing: 7px;
}
#form {
    font-family: 'Lato', sans-serif;
    position: relative;
    width: 100%;
    margin: 0px auto 0px auto;
}
input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #726659;
    border: solid 1px #b3aca7;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
input:hover {
    background: #b3aca7;
    color: #e2dedb;
}
textarea {
    width: 100%;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #726659;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    border: solid 1px #b3aca7;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
}
#submit {
    width: 100%;
    padding: 0;
    margin: -5px 0px 20px 0px;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;
    outline:none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none;
}
#submit:hover {
    color: #e2dedb;
}
footer{
    min-height: 35px;
    background-color: #212121;
}
.empresas_item{
    transition: 1s;
    opacity: 0.5;
}
.empresa_botao{
    width: 56%;
}
.empresas_item:hover{
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Chrome, Safari, Opera */
    transform: scale(0.9) ;
    opacity: 0.8;
}
.empresas_item.my-class{
    -ms-transform: translateY(38px) scale(1.1);
    -webkit-transform: translateY(38px) scale(1.1);
    transform: translateY(38px) scale(1.1);
    opacity: 1;
}
body > .inner {
    display: none;
}

body.pg-loaded > .inner {
    display: block;
}
#message{
    width:100%;
}
.facebook_link{
    color: #333;
    text-decoration: none;
}
.facebook_link:hover, .facebook_link:focus{
    color: #997463;
    text-decoration: none;
}
.footer_text{
    margin: 0;
    padding-top: 8px;
}
.icons_contato{
    padding-bottom: 20px;
}
.icons_contato>a{
    color: #333333;
    text-decoration: none;
}
.icons_contato>a:hover{
    color: #997463s;
    text-decoration: none;
}
textarea {
    resize: none;
}
.content-block {
    width: 100%;
    padding: 30px 0 30px 0;
    z-index: 100;
    position: relative;
    background-image: url(../images/textura.png);
}
#CONTATO{
    background: gray url(../img/montanha.jpg) no-repeat center center;
    transition: 1s;
}
.gallery-details>h5{
    padding-bottom: 10px;
}


.animate-show-hide.ng-hide {
    opacity: 0;
}
.animate-show-hide.ng-hide-add{
    transition: all linear 0.2s;
    width: 100%;
}
.animate-show-hide.ng-hide-remove {
    transition: all linear 1s;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 0.3s;
    width: 100%;
}
#mail_muda{
    transition: 1s;
    min-height: 100px;
}
#footer_botao {
    background-color: #FFFFFF;
    border-color: #927360;
    border-width: 2px;
    color: #927360;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-bottom: 5%;
    height: 50px;
    width: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#footer_botao:hover {
    background-color: #927360; 
    border-color: #927360;
    color: #FFF;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 10px 25px 0 rgba(0,0,0,0.19);
}
.input_campo {
    height: 50px;
    border-radius: 6px 6px 6px;
    color: #000;
}
input:focus,textarea:focus { 
    background-color: #FFEFE8;
    color: #000;
}
#mensagem_footer {
    height: 100px;
    border-radius: 6px 6px 6px;
}
input[type="text"]:hover, input[type="tel"]:hover,input[type="email"]:hover, textarea:hover {
    background-color: #927360; 
    color: #000;
}
#carousel_rolagem {
    margin-left: 15%;
}