<!DOCTYPE html>
<html ng-app="angularGeral" lang="pt" class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths ng-scope gr__eworld_com_br"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <html ng-app="angularGeral" lang="pt">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="icon" href="img/favicon.ico">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>WoW - Agência Digital</title>
            <link href="css/bootstrap.min.css" rel="stylesheet">
            <link href="css/font-awesome.min.css" rel="stylesheet">
            <link href="css/please-wait.css" rel="stylesheet">
            <link href="css/spinkit.css" rel="stylesheet">
            <link href="css/plugins.css" rel="stylesheet">
            <link href="css/blocks.css" rel="stylesheet">
            <link href="css/main.css" rel="stylesheet">
            <link href="css/sweetalert.css" rel="stylesheet">
            <link rel="stylesheet" href="css/sweetalert.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="js/parallax.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/angular.min.js"></script>
            <script src="js/angular-animate.js"></script>
            <script src="js/sweetalert.min.js"></script>
            <script src="js/angular-scroll.js"></script>
            <script src="js/please-wait.min.js"></script>
            <script src="js/app.js"></script>
            <script src="js/sweetalert.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
            <script type="application/javascript">
                <!-- Global Site Tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107389743-1"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments)};
                gtag('js', new Date());

                gtag('config', 'UA-107389743-1');
            </script>
            <meta content="A WoW Comunicação atua no mercado Digital em diversos segmentos como: info produtos, geração de conteúdos, gestão de mídias sociais, desenvolvimento de sites e aplicativos, canais de Voz / WAP e Marketing Digital. Somos inquietos, adoramos inovação e buscamos através de planejamento estratégias que gerem resultados de valor, com total sintonia com nossos clientes." name="description">
            <meta name="keywords" content="Tecnologia, mobile, app, aplicativo, aplicativos, coworking, Android, IOS, midia social, educação, Vídeos, animações, Marketing Digital, publicidade, eworld, wow, alfenas, facebook, instagram, google, youtube">

        </head>
        <body ng-controller="MyCtrl" onload="onLoadFunction()">
            <?php include_once("analyticstracking.php") ?>

            <div class="inner" ng-view></div>
            <div class="menu_nav" data-parallax="scroll" data-image-src="img/nav.png">
                <div class="container">
                    <div id="texto_nav_central">
                        <h1 class="branco centralizar sombra_h1">MARKETING E SOLUÇÕES DIGITAIS</h1>
                        <hr class="linha_branco_meio">
                        <h4 class="branco centralizar sombra_h1">Melhoramos a comunicação e presença digital de sua empresa, <br/> gerando fidelização e aumento de vendas. </h4>
                    </div>
                </div>
                <div id="navposition" class="none_display">
                    <nav class="navbar navbar-inverse nav_bar1">
                        <div class="container-fluid container_inicial">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#"><img src="img/misfitsdigupherbonesfeat_anitadiplorealevou/logo.png" id="logo_nav" ng-click="toTheTop()"></a>
                            </div>
                            <ul class="nav navbar-nav navbar-right-meu">
                                <li><a href="" du-smooth-scroll="SOMOSEWORLD" >SOMOS WOW</a></li>
                                <li><a href="" du-smooth-scroll="NOTÍCIAS" >NOTÍCIAS</a></li>
                                <li><a href="" du-smooth-scroll="PORTFOLIO" >PORTFÓLIO</a></li>
                                <li><a href="" du-smooth-scroll="CONTATO" >CONTATO</a></li>
                                <li><a href="http://blognapalmadamao.com.br/" target="_blank">BLOG</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <section id="SOMOSEWORLD">
                <div ng-controller="Ctrl_Somos_eWorld" class="ng-scope">
                    <div class="container">
                        <h1 class="centralizar" data-unsp-sanitized="clean">SOMOS WOW</h1>
                        <hr class="linha_preto_meio">
                        <p class="centralizar cortexto_claro">A WoW Comunicação atua no mercado Digital em diversos segmentos como: info produtos, geração de conteúdos, gestão de mídias sociais,  desenvolvimento de sites e aplicativos, canais de Voz / WAP e Marketing Digital. Somos inquietos, adoramos inovação e buscamos através de planejamento estratégias que gerem resultados de valor, com total sintonia com nossos clientes.</p>
                        <span id="EMPRESAS"></span>
                        <div class="row">
                            <div id="carousel_rolagem">
                                <div class="col-xs-6">
                                    <div class="row" ng-init="myVar[0] = ''; inicilizacaofuncao();">
                                        <div class="col-xs-6">
                                            <a href="" data-unsp-sanitized="clean">
                                                <img src="img/Desenvolvimentos.png" class="img-responsive empresas_item empresa_botao" ng-click="myfuncition(0)" id="img_concta" ng-class="myVar[0]" style="">
                                            </a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="" data-unsp-sanitized="clean">
                                                <img src="img/Canais_Voz_WAP.png" class="img-responsive empresas_item empresa_botao" ng-click="myfuncition(1)" ng-class="myVar[1]" style="" id="img_canais">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a href="" data-unsp-sanitized="clean">
                                                <img src="img/marketing_digital.png" class="img-responsive empresas_item empresa_botao" ng-click="myfuncition(2)" ng-class="myVar[2]" style="">
                                            </a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="" data-unsp-sanitized="clean">
                                                <img src="img/Produção_de_conteúdos.png" class="img-responsive empresas_item empresa_botao" ng-click="myfuncition(3)" ng-class="myVar[3]" style="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr id="hr_somos">
                    <div class="slide-animation-container">
                        <!-- ngInclude: troca_var --><div class="vertical-flip ng-scope" ng-include="troca_var" style=""><div class="container ng-scope">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/misfitsdigupherbonesfeat_anitadiplorealevou/logo.png" id="logo_nav" ng-click="toTheTop()">
                            </div>
                            <div class="col-md-6">
                                <h4 class="font_eworld" data-unsp-sanitized="clean">O Marketing Digital promove produtos ou marcas através das mídias digitais. Para isso é necessário o aprimoramento de técnicas específicas para o meio virtual, a fim de atrair o público nas redes e promover campanhas com o resultado positivo.</h4>
                                <h4 class="font_eworld" data-unsp-sanitized="clean">O trabalho realizado através das mídias sociais, e-mail marketing e SEO é totalmente diferente do realizado pelo marketing tradicional (televisão, jornal, revista ou rádio), pois possibilita a comunicação entre a empresa e os consumidores de forma fácil, 24 horas por dia e em tempo real, utilizando a internet como principal ferramenta. </h4>
                                <h4 class="font_eworld" data-unsp-sanitized="clean">
                                    <li>O papel da WOW Comunicação, como agência de Marketing Digital, é criar estratégias de planejamento e estabelecer maneiras para sua empresa se comunicar com o público de forma direta, personalizada, e no momento certo, criando um elo para promover a aproximação entre ambos. </li>
                                </h4>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="NOTÍCIAS" ng-controller="Ctrl_facebook">
                <div class="parallax-window" data-parallax="scroll" data-image-src="img/B44FmPD.jpg">
                    <div class="noticia_marg">
                        <h1 class="centralizar branco sombra_h1">NOTÍCIAS</h1>
                        <hr class="linha_branco_meio">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="service-block">
                                        <a href="{{facebook[0].link}}" target="_blank" class="facebook_link">
                                            <div class="row" >
                                                <div class="col-xs-4">
                                                    <img src="{{facebook[0].picture}}" class="img-responsive opacidade1 fotos_noticias">
                                                </div>
                                                <div class="col-xs-8">
                                                    <p class="opacidade1">{{facebook[0].minMesagem}}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="service-block">
                                        <a href="{{facebook[1].link}}" target="_blank" class="facebook_link">
                                            <div class="row" >
                                                <div class="col-xs-4">
                                                    <img src="{{facebook[1].picture}}" class="img-responsive opacidade1 fotos_noticias">
                                                </div>
                                                <div class="col-xs-8">
                                                    <p class="opacidade1">{{facebook[1].minMesagem}}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="service-block">
                                        <a href="{{facebook[2].link}}" target="_blank" class="facebook_link">
                                            <div class="row" >
                                                <div class="col-xs-4">
                                                    <img src="{{facebook[2].picture}}" class="img-responsive opacidade1 fotos_noticias">
                                                </div>
                                                <div class="col-xs-8">
                                                    <p class="opacidade1">{{facebook[2].minMesagem}}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="service-block">
                                        <a href="{{facebook[3].link}}" target="_blank" class="facebook_link">
                                            <div class="row" >
                                                <div class="col-xs-4">
                                                    <img src="{{facebook[3].picture}}" class="img-responsive opacidade1 fotos_noticias">
                                                </div>
                                                <div class="col-xs-8">
                                                    <p class="opacidade1">{{facebook[3].minMesagem}}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content-block gallery-1 gallery-1-2" id="PORTFOLIO">
                <div class="container">
                    <h1 class="centralizar">PORTFÓLIO</h1>
                    <hr class="linha_preto_meio">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="isotope-gallery-container">
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/5.png" class="img-responsive" alt="2nd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/5.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye"></i></a>
                                        <!--<a href="#" class="gallery-link"><i class="fa fa-link"></i></a>-->
                                    </div>
                                    <div class="gallery-details">
                                        <h5>Ellite</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper ">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/10.png" class="img-responsive" alt="3rd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/10.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye"></i></a>
                                        <!--<a href="#" class="gallery-link"><i class="fa fa-link"></i></a>-->
                                    </div>
                                    <div class="gallery-details">
                                        <h5>Trevos</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper midias_sociais">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/1.png" class="img-responsive" alt="2nd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/1.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye" ></i></a>
                                        <!--<a href="#" class="gallery-link"><i class="fa fa-link"></i></a>-->
                                    </div>
                                    <div class="gallery-details">
                                        <h5>WoW Comunicações</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper web_sites">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/3.png" class="img-responsive" alt="2nd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/3.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye"></i></a>
                                        <a href="https://www.facebook.com/trevoskids/" class="gallery-link" target="_blank"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="gallery-details">
                                        <h5>Sapeca</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper ">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/11.png" class="img-responsive" alt="2nd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/11.png" class="gallery-zoom"><i class="fa fa-eye" target="_blank"></i></a>
                                        <!--<a href="#" class="gallery-link"><i class="fa fa-link"></i></a>-->
                                    </div>
                                    <div class="gallery-details">
                                        <h5>Sorria Mais</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper web_sites">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/12.png" class="img-responsive" alt="3rd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/12.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye"></i></a>
                                        <a href="http://www.horadeninar.com.br/" class="gallery-link" target="_blank"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="gallery-details">
                                        <h5>Hora de Ninar</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/4.png" class="img-responsive" alt="2nd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/4.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye"></i></a>
                                        <!--<a href="#" class="gallery-link"><i class="fa fa-link"></i></a>-->
                                    </div>
                                    <div class="gallery-details">
                                        <h5>Trevos</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper midias_sociais">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/redes_sociais/Engajado.png" class="img-responsive" alt="2nd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/redes_sociais/Engajado.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye"></i></a>
                                        <!--<a href="#" class="gallery-link"><i class="fa fa-link"></i></a>-->
                                    </div>
                                    <div class="gallery-details">
                                        <h5>WoW Comunicações</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/6.png" class="img-responsive" alt="2nd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/6.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye"></i></a>
                                        <!--<a href="#" class="gallery-link"><i class="fa fa-link"></i></a>-->
                                    </div>
                                    <div class="gallery-details">
                                        <h5>Trevos</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper midias_sociais aplicativos web_sites">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/7.png" class="img-responsive" alt="2nd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/7.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye"></i></a>
                                        <a href="http://www.http://blognapalmadamao.com.br/" class="gallery-link" target="_blank"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="gallery-details">
                                        <h5>Na Palma da Mão</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper midias_sociais">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/8.png" class="img-responsive" alt="2nd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/8.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye"></i></a>
                                        <!--<a href="#" class="gallery-link"><i class="fa fa-link"></i></a>-->
                                    </div>
                                    <div class="gallery-details">
                                        <h5>Espaço Coworking</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper web_sites">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="images/misfitsdigupherbonesfeat_anitadiplorealevou/9.png" class="img-responsive" alt="3rd gallery Thumb">
                                        <div class="image-overlay"></div>
                                        <a href="images/misfitsdigupherbonesfeat_anitadiplorealevou/9.png" class="gallery-zoom" target="_blank"><i class="fa fa-eye" ></i></a>
                                        <a href="https://www.facebook.com/trevoskids/" class="gallery-link"><i class="fa fa-link"></i></a>
                                    </div>
                                    <div class="gallery-details">
                                        <h5>Sapeca</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="CONTATO">
                <div>
                    <div class="noticia_marg">
                        <div class="container">
                            <h1 class="centralizar branco sombra_h1">CONTATO</h1>
                            <hr class="linha_branco_meio">
                            <div class="contato_div">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="centralizar">ENDEREÇO</h3>
                                        <p class="centralizar">Rua Um, 1003, Jd. das Palmeiras<br>Alfenas - MG</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="centralizar">TELEFONE</h3>
                                        <p class="centralizar">+55 35 3292-7555</p>
                                    </div>
                                </div>
                                <header>E-MAIL</header>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <form id="formulario_rodape">
                                            <input type="text" id="firstname" name="firstname" placeholder="NOME" class="input_campo">
                                            <br>
                                            <br>
                                            <input type="email" id="email2" name="email" placeholder="EMAIL" class="input_campo">
                                            <br>
                                            <br>
                                            <input type="tel" id="telefone2" name="telefone" placeholder="TELEFONE" class="input_campo">
                                            <br>
                                            <br>
                                            <textarea name="message" id="mensagem_footer" class="md-textarea" placeholder="MENSAGEM" required></textarea>
                                            <br/>
                                            <br/>
                                            <button type="submit" class="btn btn-danger" id="footer_botao">ENVIAR</button>
                                        </form>
                                    </div>
                                </div>
                                <h2 class="centralizar icons_contato">
                                    <a href="https://www.youtube.com/channel/UC9KjUXuhrqbz64mSpMcT7TQ" target="_blank">
                                        <i class="fa fa-youtube-square" aria-hidden="true"></i>
                                    </a>
                                    <a href="https://www.instagram.com/wow_comunicacao/" target="_blank">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                    <a href="https://www.facebook.com/wowcomunicacaodigital/" target="_blank">
                                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                    </a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3713.2908743677267!2d-45.95101348530962!3d-21.457100585767982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b5f5877eb579ad%3A0xe2d0ad3254615a2f!2sR.+Um%2C+1003%2C+Alfenas+-+MG%2C+37130-000!5e0!3m2!1spt-BR!2sbr!4v1515407202547" width="100%" height="400" frameborder="0" style="border:0"  allowfullscreen</iframe>
            <footer>
                <p class="branco centralizar footer_text">2017 Todos os direitos reservados</p>
            </footer>
            <nav class="navbar navbar-default" id='nav_bar'>
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" id="nav_logo2" ng-click="toTheTop()"><img src="img/misfitsdigupherbonesfeat_anitadiplorealevou/logo.png" id="logo_nav" ng-click="toTheTop()"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right nav_secundario">
                            <li><a data-unsp-sanitized="clean" href="" du-smooth-scroll="SOMOSEWORLD" du-scrollspy>SOMOS WOW</a></li>
                            <li><a data-unsp-sanitized="clean" href="" du-smooth-scroll="NOTÍCIAS" du-scrollspy>NOTÍCIAS</a></li>
                            <li><a data-unsp-sanitized="clean" href="" du-smooth-scroll="PORTFOLIO" du-scrollspy>PORTFÓLIO</a></li>
                            <li><a data-unsp-sanitized="clean" href="" du-smooth-scroll="CONTATO" du-scrollspy>CONTATO</a></li>
                            <li><a href="http://blognapalmadamao.com.br/" target="_blank">BLOG</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <script type="text/javascript" src="js/plugins.js"></script>
            <script type="text/javascript" src="js/bskit-scripts.js"></script>
            <script type="text/javascript" src="js/geral.js"></script>
            <script type="application/javascript">
                //FORMULÁRIO RODAPÉ
                $("#formulario_rodape").on("submit", function() {
                    $.LoadingOverlay("show");
                    $.ajax({
                        url: "http://api-lp.evoxeduca.com.br/Email/EnviarEmailContato",
                        type: "post",
                        dataType: "JSON",
                        data: {
                            Nome: $("#firstname").val(),
                            Email: $("#email2").val(),
                            Telefone: $("#telefone2").val(),
                            Mensagem: $("#mensagem_footer").val(), 
                        }
                    }).done(function(data) {
                        $.LoadingOverlay("hide");
                        swal("Agradecemos sua atenção!", "Mensagem enviada com sucesso.", "success");
                    }).fail(function() {

                    });
                    return false
                });

            </script>
        </body>
    </html>
