<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="img/Desenvolvimentos.png" class="img-responsive foto_SOMOS_EWORLD">
		</div>
		<div class="col-md-6">
            <br/><br/><br/>
			<h4 class="font_eworld"> Com a experiência de mais de 20 aplicativos IOS e Android desenvolvidos nos mais diversos nichos para empresas no Brasil e USA, sites e blogs oferecemos plataforma inteligente, flexível e inteligente com layout criativo para quem deseja divulgar suas informações/conteúdo no ambiente digital. </h4>
		</div>
	</div>
</div>
