<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="img/Canais_Voz_WAP.png" class="img-responsive foto_SOMOS_EWORLD">
		</div>
		<div class="col-md-6"> 
            <br/><br/><br/>
			<h4 class="font_eworld"> Em parceria com Operadoras Vivo, Oi, Claro e TIM nossos canais de voz e WAP já ultrapassaram mais de 100 mil assinantes satisfeitos, levando informação, entretenimento, mensagens de fé, humor, histórias infantis, motivação, e muito mais.</h4>
		</div>
	</div>
</div>
