<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="img/marketing_digital.png" class="img-responsive foto_SOMOS_EWORLD">
		</div>
		<div class="col-md-6">
            <br/><br/>
			<h4 class="font_eworld"> Através do Marketing  Digital levamos público para sua a marca, gerando oportunidades de negócios para sua empresa, convertendo usuários em clientes fieis. Utilizando-se de email marketing, gerenciamento de mídias sociais, artigos de blogs,e  landing pages buscamos engajamento, geração leads e elevar a presença digital de sua empresa nas buscas orgânicas, tornando sua marca referência no seu nicho de atuação.</h4>
		</div>
	</div>
</div>