<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="img/Produção_de_conteúdos.png" class="img-responsive foto_SOMOS_EWORLD">
        </div>
        <div class="col-md-6">
            <br/><br/><br/>
            <h4 class="font_eworld"> Oferecemos uma equipe completa de profissionais que tem a tarefa desafiante de atrair a atenção de seu público, apresentando ao mercado os conhecimentos de sua empresa, criando autoridade e informando com eficiência, e de maneira assertiva através de textos, artigos, infográficos, imagens, fotos e vídeos. </h4>
        </div>
    </div>
</div>


